@model Netflou.Models.MediaList;

@{
    
    ViewData["Home"] = "Home Page";
}
<div>@ViewData["filmList"]</div>
<main>
    <article>
        <div class="l-hero">
            <div class="l-hero__text">
                <h1 class="c-title">
                   <span class="c-title__name">Stranger Flou</span>
                    <span class="c-title__name">@ViewData["Title"]</span>
                </h1>
                <p class="l-hero__subhl">Watch Season 2 Now</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>

                <div class="l-hero__buttons">
                    <button class="o-button"><i class="fa fa-play" aria-hidden="true"></i> Play</button>

                    <!-- Button trigger modal 
<button type="button" class="fa fa-play btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

<!-- Modal 
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XWxyRG_tckY?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

-->

					
                    <button class="o-button o-button--gray"><i class="fa fa-plus" aria-hidden="true"></i> My List</button>
                </div>
            </div>
            <img src="https://album.fr/wp-content/uploads/2017/10/strangerthingsthumbjpg-6ab191_1280w.jpg">
        </div>

        <section class="l-cards">
            <h2 class="l-cards__title">TV Shows</h2>
            <ul class="l-cards__list">
                    @foreach (Serie serie in Model.Series)
            {
                <li class="l-cards__item">
                    <div class="hover">
                    <p class="filmTitle">@serie.Title <i class="fa fa-play-circle-o" aria-hidden="true"></i></p>
                    </div>
                     <img src="@serie.Img">
                </li>
            }
            </ul>
        </section>

        <section class="l-cards">
            <h2 class="l-cards__title">Films</h2>
            <ul class="l-cards__list">
        @foreach (Film film in Model.Films)
            {
            <li class="l-cards__item">
                    <div class="hover">
                    <p class="filmTitle">@film.Title <i class="fa fa-play-circle-o" aria-hidden="true"></i></p>
                    </div>
                     <img src="@film.Img">
                </li>
            }
            </ul>
        </section>
    </article>
</main>
