@model Netflou.Models.MediaList;

@{   
    ViewData["Home"] = "Home Page";
}
<div>@ViewData["filmList"]</div>
<main>
    <article>
        <div class="l-hero">
            <div class="l-hero__text">
                <h1 class="c-title">
                   <span class="c-title__name">Stranger Flou</span>
                    <span class="c-title__name">@ViewData["Title"]</span>
                </h1>
                <p class="l-hero__subhl">Watch Season 2 Now</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>

                <div class="l-hero__buttons">
                    <button class="o-button"><i class="fa fa-play" aria-hidden="true"></i> Play</button>				
                    <button class="o-button o-button--gray"><i class="fa fa-plus" aria-hidden="true"></i> My List</button>
                </div>
            </div>
            <img src="https://album.fr/wp-content/uploads/2017/10/strangerthingsthumbjpg-6ab191_1280w.jpg">
        </div>

        <section class="l-cards">
            <h2 class="l-cards__title">TV Shows</h2>
            <ul class="l-cards__list">
            @foreach (Serie serie in Model.Series)
            {
                <li class="l-cards__item">
                    <div class="hover">
                    <p class="filmTitle">@serie.Title <i class="fa fa-play-circle-o" aria-hidden="true"></i></p>
                    </div>
                     <img src="@serie.Img">
                </li>
            }
            </ul>
        </section>

        <section class="l-cards">
            <h2 class="l-cards__title">Films</h2>
            <ul class="l-cards__list">
        @foreach (Film film in Model.Films)
            {
            <li class="l-cards__item">
                    <div class="hover">
                    <p class="filmTitle">@film.Title <i class="fa fa-play-circle-o" aria-hidden="true"></i></p>
                    </div>
                     <img src="@film.Img">
                </li>
            }
            </ul>
        </section>
    </article>
</main>
